<div class="page-header">
  <h1>Ajuda <small></small></h1>
</div>

<p class="lead">O que é necessário fazer para começar a utilizar o AgendaCard?</p>
<ol>
  <li>Antes de tudo é importante preencher todas as informações referentes à sua empresa através do menu: <%= link_to(Company.model_name.human, details_companies_path, target: :_blank) %>. Estas informações serão exibidas na sua <%= link_to(Company.human_attribute_name('minipage_url'), promote_companies_path, target: :_blank) %>.</li>
  <li>Depois é necessário cadastrar os funcionários, ou seja, os profissionais ou locais que fornecerão determinados serviços: <%= link_to(Resource.model_name.human, resources_path, target: :_blank) %></li>
  <li>O terceiro passo é cadastrar os horários em que sua empresa estará disponível para agendamentos: <%= link_to(OpeningHour.model_name.human, opening_hours_path, target: :_blank) %></li>
  <li>O último passo é cadastrar os serviços que sua empresa irá oferecer e quem são os funcionários que podem executar cada um: <%= link_to(CompaniesService.model_name.human, companies_services_path, target: :_blank) %></li>
</ol>
<p class="lead">Prontinho! Agora é só divulgar o endereço da sua <%= link_to(Company.human_attribute_name('minipage_url'), promote_companies_path, target: :_blank) %> para seus clientes e deixar que eles mesmos agendem seus horários.</p>