<div class="page-header">
  <h1><%= Provider.model_name.human %> <small></small></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Provider.human_attribute_name("name") %></th>
      <th><%= Provider.human_attribute_name("email") %></th>
      <th><%= Provider.human_attribute_name("phone") %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @providers.each do |provider| %>
      <tr>
        <td><%= provider.name %></td>
        <td><%= provider.email %></td>
        <td><%= provider.phone %></td>
        <td>
          <div class="btn-group btn-group-sm" role="group">
            <%= link_to t(:edit), edit_provider_path(provider), :class => 'btn btn-default', :role => 'button' %>
            <%= link_to t(:show),provider , :class => 'btn btn-default', :role => 'button' %>
            <%= link_to t(:destroy), provider, :class => 'btn btn-danger', :role => 'button', method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo provedor', new_provider_path, :class => 'btn btn-default' %>
