<p id="notice"><%= notice %></p>

<h1>Listing Providers</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @providers.each do |provider| %>
      <tr>
        <td><%= provider.name %></td>
        <td><%= provider.email %></td>
        <td><%= provider.phone %></td>
        <td>
          <div class="btn-group btn-group-sm" role="group">
            <%= link_to 'Edit', edit_provider_path(provider), :class => 'btn btn-default', :role => 'button' %>
            <%= link_to 'Show',provider , :class => 'btn btn-default', :role => 'button' %>
            <%= link_to 'Destroy', provider, :class => 'btn btn-danger', :role => 'button', method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Provider', new_provider_path, :class => 'btn btn-default' %>
