<%= form_for(@opening_hour) do |f| %>
  <% if @opening_hour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@opening_hour.errors.count, "error") %> prohibited this opening_hour from being saved:</h2>

      <ul>
      <% @opening_hour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.hidden_field :company_id %>

    <div class="form-group">
    <%= f.label :weekdays %><br>
    <% Date::DAYNAMES.each_with_index do |day, index| %>
        <%= check_box_tag "opening_hour[weekdays][]", index, @opening_hour.weekdays.nil? ? false : @opening_hour.weekdays.include?(index.to_s) %>
        <%= t('date.day_names')[index] %>
    <% end %>
  </div>
    <div class="form-group">
    <%= f.label :from %><br>
    <%= f.time_select :from, :class => 'form-control' %>
  </div>
    <div class="form-group">
    <%= f.label :to %><br>
    <%= f.time_select :to, :class => 'form-control' %>
  </div>
    <div class="actions">
      <%= f.submit :class => 'btn btn-primary' %>
    </div>
<% end %>

