<%= form_for(@opening_hour) do |f| %>
  <% if @opening_hour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@opening_hour.errors.count, "error") %> prohibited this opening_hour from being saved:</h2>

      <ul>
      <% @opening_hour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :companie_id %><br>
    <%= f.number_field :companie_id %>
  </div>
  <div class="field">
    <%= f.label :provider_id %><br>
    <%= f.number_field :provider_id %>
  </div>
  <div class="field">
    <%= f.label :weekday %><br>
    <%= f.number_field :weekday %>
  </div>
  <div class="field">
    <%= f.label :from %><br>
    <%= f.time_select :from %>
  </div>
  <div class="field">
    <%= f.label :to %><br>
    <%= f.time_select :to %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
