<p id="notice"><%= notice %></p>

<h1><%= OpeningHour.model_name.human %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= OpeningHour.human_attribute_name("weekdays") %></th>
      <th><%= OpeningHour.human_attribute_name("from") %></th>
      <th><%= OpeningHour.human_attribute_name("to") %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @opening_hours.each do |opening_hour| %>
      <tr>
        <td><% opening_hour.weekdays.each do |day_number| %>
            <%= t('date.day_names')[day_number.to_i] + ', ' %>
          <% end %></td>
        <td><%= time_format opening_hour.from %>h</td>
        <td><%= time_format opening_hour.to %>h</td>
        <td>
          <div class="btn-group btn-group-sm" role="group">
            <%= link_to t(:edit), edit_opening_hour_path(opening_hour), :class => 'btn btn-default', :role => 'button' %>
            <%= link_to t(:show),opening_hour , :class => 'btn btn-default', :role => 'button' %>
            <%= link_to t(:destroy), opening_hour, :class => 'btn btn-danger', :role => 'button', method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Opening hour', new_opening_hour_path, :class => 'btn btn-default' %>
