<p id="notice"><%= notice %></p>

<h1>Listing Opening Hours</h1>

<table>
  <thead>
    <tr>
      <th>Companie</th>
      <th>Provider</th>
      <th>Weekday</th>
      <th>From</th>
      <th>To</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @opening_hours.each do |opening_hour| %>
      <tr>
        <td><%= opening_hour.companie_id %></td>
        <td><%= opening_hour.provider_id %></td>
        <td><%= opening_hour.weekday %></td>
        <td><%= opening_hour.from %></td>
        <td><%= opening_hour.to %></td>
        <td><%= link_to 'Show', opening_hour %></td>
        <td><%= link_to 'Edit', edit_opening_hour_path(opening_hour) %></td>
        <td><%= link_to 'Destroy', opening_hour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Opening hour', new_opening_hour_path %>
