<p>
  <strong>Companie:</strong>
  <%= @opening_hour.company_id %>
</p>

<p>
  <strong>Weekdays:</strong>
  <%= @opening_hour.weekdays %>
</p>

<p>
  <strong>From:</strong>
  <%= @opening_hour.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @opening_hour.to %>
</p>

<%= link_to 'Edit', edit_opening_hour_path(@opening_hour) %> |
<%= link_to 'Back', opening_hours_path %>
