<%= form_for(@companies_service) do |f| %>
  <% if @companies_service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@companies_service.errors.count, "error") %> prohibited this companies_service from being saved:</h2>

      <ul>
      <% @companies_service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <%= f.label :name %><br>
      <%= f.text_field :service_name, :class => 'form-control', :autocomplete => :off %>
    </div>

    <div class="form-group">
      <%= f.label :resource_ids %><br>
      <%= f.collection_select :resource_ids, Resource.where(company: current_user.company).order(:name), :id, :name, {include_hidden: false}, {multiple: true} %>
      </div>

    <div class="form-group">
    <%= f.label :duration %><br>
    <%=  f.select :duration, options_for_select([
                           ["10 min", 600],
                           ["20 min", 1200],
                           ["30 min", 1800],
                           ["40 min", 2400],
                           ["50 min", 3000],
                           ["1h", 3600],
                           ["1h20m", 4800]
                        ], selected: @companies_service.duration

                           ) %>
  </div>
    <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, :class => 'form-control' %>
  </div>
    <div class="form-group">
    <%= f.label :price %><br>
    <%= f.text_field :price, :class => 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>

<script type="text/javascript">
    $(document).ready(function() {
        // Cria o combo multiselect bootstrap
        $('#companies_service_resource_ids').multiselect({
            includeSelectAllOption: true,
            selectAllText: '<%=t :select_all %>'
        });
    });
</script>