<%= form_for(@companies_service) do |f| %>
  <% if @companies_service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@companies_service.errors.count, "error") %> prohibited this companies_service from being saved:</h2>

      <ul>
      <% @companies_service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :company_id %><br>
    <%= f.number_field :company_id, :class => 'form-control' %>
  </div>
    <div class="form-group">
      <%= f.label :service_id %><br>
      <%= f.text_field :service_name, :class => 'form-control' %>
      <%= f.hidden_field :service_id %>
    </div>


    <div class="form-group">
    <%= f.label :duration %><br>
    <%= f.time_select :duration, {minute_step: 5}, prompt: true %>
  </div>
    <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, :class => 'form-control' %>
  </div>
    <div class="form-group">
    <%= f.label :price %><br>
    <%= f.text_field :price, :class => 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
