<div class="page-header">
  <h1><%= CompaniesService.model_name.human %> <small>Administrar serviços que você oferece a seus clientes</small></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= CompaniesService.human_attribute_name("name") %></th>
      <th><%= CompaniesService.human_attribute_name("duration") %></th>
      <th><%= CompaniesService.human_attribute_name("description") %></th>
      <th><%= CompaniesService.human_attribute_name("price") %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @companies_services.each do |companies_service| %>
      <tr>
        <td><%= companies_service.service.name %></td>
        <td><%= formatted_duration companies_service.duration %></td>
        <td><%= companies_service.description %></td>
        <td><%= companies_service.price %></td>
        <td>
          <div class="btn-group btn-group-sm" role="group">
            <%= link_to t(:edit), edit_companies_service_path(companies_service), :class => 'btn btn-default', :role => 'button' %>
            <%= link_to t(:show),companies_service , :class => 'btn btn-default', :role => 'button' %>
            <%= link_to t(:destroy), companies_service, :class => 'btn btn-danger', :role => 'button', method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo serviço', new_companies_service_path, :class => 'btn btn-default' %>
