<p id="notice"><%= notice %></p>

<h1>Listing Services</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Service</th>
      <th>Duration</th>
      <th>Description</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @companies_services.each do |companies_service| %>
      <tr>
        <td><%= companies_service.service.name %></td>
        <td><%= formatted_duration companies_service.duration %></td>
        <td><%= companies_service.description %></td>
        <td><%= companies_service.price %></td>
        <td>
          <div class="btn-group btn-group-sm" role="group">
            <%= link_to 'Edit', edit_companies_service_path(companies_service), :class => 'btn btn-default', :role => 'button' %>
            <%= link_to 'Show',companies_service , :class => 'btn btn-default', :role => 'button' %>
            <%= link_to 'Destroy', companies_service, :class => 'btn btn-danger', :role => 'button', method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Companies service', new_companies_service_path, :class => 'btn btn-default' %>
