<div class="page-header">
  <h1><%= Client.model_name.human %> <small></small></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Client.human_attribute_name("name") %></th>
      <th><%= Client.human_attribute_name("email") %></th>
      <th><%= Client.human_attribute_name("phone") %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.email %></td>
        <td><%= client.phone %></td>
        <td>
          <div class="btn-group btn-group-sm" role="group">
            <%= link_to t(:edit), edit_client_path(client), :class => 'btn btn-default', :role => 'button' %>
            <%= link_to t(:show), client, :class => 'btn btn-default', :role => 'button' %>
            <%= link_to t(:destroy), client, :class => 'btn btn-danger', :role => 'button', method: :delete, data: {confirm: 'Are you sure?'} %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client', new_client_path %>
