<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :plan_id %><br>
    <%= f.number_field :plan_id %>
  </div>
  <div class="field">
    <%= f.label :slogan %><br>
    <%= f.text_field :slogan %>
  </div>
  <div class="field">
    <%= f.label :logo %><br>
    <%= f.text_field :logo %>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :minipage_url %><br>
    <%= f.text_field :minipage_url %>
  </div>
  <div class="actions">
    <%= f.submit t('save'), class: 'btn btn-primary' %>
  </div>
<% end %>
