<div class="col-sm-12 col-md-2 ">
  <img src="<%= @company.logo.file.nil? ? image_path('profile-default.png') : @company.logo.thumb.url %>" alt="#{@company.name}" class="img-thumbnail company-logo">
</div>
<div class="col-sm-12 col-md-10">
  <h1><%=@company.name %></h1>
  <address><%=address @company%></address>
  <% if !@company.phone.blank? %>
    <%= Company.human_attribute_name("phone") %>: <a href="tel:<%= @company.phone %>"><%= @company.phone %></a>
  <% end %>
</div>