<div class="jumbotron">
  <div class="container">
  <h1>AgendaCard</h1>
  <h2>Mais agendamentos, menos trabalho.</h2>
  <p class="lead">Agendamento por telefone e Whatsapp já é coisa do passado e não satisfaz mais os seus clientes.
    Obtenha agendamento poderoso com simplicidade.</p>
  <p><%= link_to 'Comece aqui', new_user_registration_path, :class => 'btn btn-lg btn-success'  %></p>
  </div>
</div>


<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <%= image_tag('imagem-agenda.png', width: 140) %>
      <h2>Lembretes</h2>
      <p>Reduza a taxa de não comparecimento enviando notificações por SMS/Email para seus clientes. Tenha certeza de que seus clientes não se esqueçerão de vir.</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <%= image_tag('MOBILE-APP-ICON-GREEN_300x300.png', width: 140) %>
      <h2>Agendamento online</h2>
      <p>Permita que seus clientes agendem online e de qualquer dispositivo, sem a necessidade de aplicativos específicos. AgendaCard permite agendamentos 24/7.</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <%= image_tag('icon-partners.png', width: 140) %>
      <h2>Gerenciamento de clientes</h2>
      <p>AgendaCard permite que você tenha controle dos seus clientes.</p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Simplicidade é tudo. <span class="text-muted">E nós sabemos bem disso.</span></h2>
      <p class="lead">Com AgendaCard seus clientes podem fazer seus agendamentos sem nem mesmo fazerem algum tipo de cadastro. São dois simples passos que não levam mais de 2 minutos.</p>
    </div>
    <div class="col-md-5">
      <%= image_tag('man-with-phone.jpg', class: 'featurette-image img-responsive center-block') %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 col-md-push-5">
      <h2 class="featurette-heading">Um software. <span class="text-muted">Várias soluções.</span></h2>
      <p class="lead">AgendaCard foi criado pensando em atender diversos tipos de negócio, dentre eles estão: salões de beleza, barbearias, spas, clícinas odontológicas, clínicas veterinárias, dentre outros.</p>
    </div>
    <div class="col-md-5 col-md-pull-7">
      <%= image_tag('Haartrimmer-Test.jpg', class: 'featurette-image img-responsive center-block') %>
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

  <h2>Mande uma mensagem para nós. Teremos o prazer de dar todo suporte necessário.</h2>

  <br/>

  <div class="row">
    <div class="col-md-6">

      <%= form_tag("/landing_page/contact", remote: true, :id => "contact_form") do %>
        <div class="form-group">
        <%= label_tag(:name, "Nome") %>
        <%= text_field_tag(:name, nil, class: 'form-control') %>
        </div>
        <div class="form-group">
        <%= label_tag(:email, "Email") %>
        <%= text_field_tag(:email, nil, class: 'form-control') %>
        </div>

        <div class="form-group">
          <%= label_tag(:phone, "Telefone") %>
          <%= text_field_tag(:phone, nil, class: 'form-control') %>
        </div>
        <div class="form-group">
        <%= label_tag(:message, "Mensagem") %>
        <%= text_area_tag(:message, nil, class: 'form-control') %>
        </div>

        <%= submit_tag("Enviar", class: 'btn btn-default') %>

      <% end %>

    </div>

    <div class="col-md-6">

        <h2><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Comece a agendar de graça</h2>
        <p class="box-solution-text">
          Configure o AgendaCard em apenas alguns minutos.
          Os primeiros 100 agendamentos são gratuitos.
        </p>
        <%= link_to 'Criar uma conta agora', new_user_registration_path, :class => 'btn btn-lg btn-primary'  %>
    </div>
  </div>

  <hr class="featurette-divider">
  <!-- FOOTER -->
  <footer>
    <p class="pull-right"><a href="#">Voltar ao topo</a></p>
    <p>© 2018 AgendaCard</p>
  </footer>

</div>