<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "erro") %> impediram este agendamento de ser salvo:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend ><%= Client.model_name.human %></legend>
    <% if @appointment.new_record? %>

      <%= f.fields_for :client, @appointment.client do |client_fields| %>
        <div class="form-group">
          <%= client_fields.label :name %>
          <%= client_fields.text_field :name, :class => 'form-control', :autocomplete => :off %>
        </div>
        <div class="form-group">
          <%= client_fields.label :email %>
          <%= client_fields.text_field :email, :class => 'form-control' %>
        </div>
        <div class="form-group">
          <%= client_fields.label :phone %>
          <%= client_fields.text_field :phone, :class => 'form-control' %>
        </div>

        <%= f.hidden_field(:client_id) %>

      <% end %>

    <% elsif @appointment.client.nil? %>
      Anônimo

    <% else %>
      <dl>
        <dt>Nome</dt>
        <dd><%= @appointment.client.name%></dd>
      </dl>
      <dl>
        <dt>Email</dt>
        <dd><%= @appointment.client.email%></dd>
      </dl>
      <dl>
        <dt>Telefone</dt>
        <dd><%= @appointment.client.phone%></dd>
      </dl>

    <% end %>
  </fieldset>

  <fieldset>
    <legend ><%= CompaniesService.model_name.human %></legend>

    <div class="form-group">
      <%= f.label(:companies_service_id) %>
      <%= f.select :companies_service_id, current_user.company.companies_services.collect {|copanies_service| [copanies_service.service_name, copanies_service.id]}, {:prompt => 'Selecione um serviço'}, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label(:resource_id) %>
      <%= f.select :resource_id, current_user.company.resources.collect { |resource| [resource.name, resource.id] }, {:prompt => 'Selecione um funcionário'}, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :start %><br>
      <%= f.datetime_select :start, {default: params['start'].blank? ? @appointment.start : DateTime.parse(params['start'])} %>
    </div>
    <div class="form-group">
      <%= f.label :duration %><br>
      <%= f.select :duration, options_for_select([
                                                     ["10 min", 10*60],
                                                     ["20 min", 20*60],
                                                     ["30 min", 30*60],
                                                     ["40 min", 40*60],
                                                     ["50 min", 50*60],
                                                     ["1h", 60*60],
                                                     ["1h20m", 80*60],
                                                     ["1h40m", 100*60],
                                                     ["2h", 2*60*60],
                                                     ["3h", 3*60*60],
                                                     ["4h", 4*60*60],
                                                     ["5h", 5*60*60],
                                                     ["6h", 6*60*60],
                                                     ["7h", 7*60*60],
                                                     ["8h", 8*60*60],
                                                     ["9h", 9*60*60],
                                                     ["10h", 10*60*60],
                                                     ["11h", 11*60*60],
                                                     ["12h", 12*60*60]

                                                 ], selected: @appointment.duration

      ) %>
    </div>

    <div class="form-group">
      <%= f.label :obs %><br>
      <%= f.text_area :obs, class: 'form-control' %>
    </div>

  </fieldset>

  <fieldset>
    <legend >Repetição</legend>

      <% if @appointment.new_record? || @appointment.repeat.nil? %>
        <%= f.fields_for :repeat, @appointment.repeat ||= Repeat.new do |repeat_fields| %>
          <div class="form-group">
            <%= repeat_fields.select :typerepeat, options_for_select([['Semanalmente', 'weekly'], ['Mensalmente', 'monthly']]), {:prompt => 'Nunca'} %>

          </div>
          <span id="repeat">
            <div class="form-group">
              <%= repeat_fields.label :interval %><br>
              <%= repeat_fields.text_field :interval, value: 1 %> <span id="interval-label" />

            </div>

            <span id="weekdays">
              <div class="form-group">
                <%= repeat_fields.label :weekdays %><br>
                <% Date::DAYNAMES.each_with_index do |day, index| %>
                  <%= check_box_tag "appointment[repeat_attributes][weekdays][]", index, @appointment.repeat.weekdays.nil? ? false : @appointment.repeat.weekdays.include?(index.to_s) %>
                  <%= t('date.day_names')[index] %>
                <% end %>

              </div>
            </span>

            <div class="form-group">
              <%= repeat_fields.label :end %><br>
              <%= repeat_fields.date_select :end %>

            </div>
          </span>
        <% end %>
      <% else %>
        <div class="form-group">
          <%= @appointment.repeat.typerepeat == 'weekly' ? 'Semanalmente' : 'Mensalmente' %>, <% @appointment.repeat.weekdays.each do |day_number| %>
            <%= t('date.day_names')[day_number.to_i] + ', ' %>
          <% end %> até <%= l @appointment.repeat.end, format: :long  %>
        </div>
      <% end %>
  </fieldset>


  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
    <%= link_to 'Excluir', cancel_appointment_path(@appointment), :class => 'btn btn-danger', :role => 'button', method: :delete, data: {confirm: 'Tem certeza?'} unless @appointment.new_record? %>
    <%= link_to 'Excluir este e os seguintes', cancel_repeat_appointment_path(@appointment), :class => 'btn btn-danger', :role => 'button', method: :delete, data: {confirm: 'Tem certeza?'} unless @appointment.new_record? || @appointment.repeat.id.nil? %>
  </div>
<% end %>

<script type="text/javascript">
    $(document).ready(function() {

        function checkRepeatType() {
            if($('#appointment_repeat_attributes_typerepeat').val() == '') {
                $('#repeat').hide();
            } else if($('#appointment_repeat_attributes_typerepeat').val() == 'weekly') {
                $('#repeat').show();
                $('#weekdays').show();
                $('#interval-label').text('semanas');
            } else {
                $('#repeat').show();
                $('#weekdays').hide();
                $('#interval-label').text('meses');

            }
        }

        checkRepeatType();

        $('#appointment_repeat_attributes_typerepeat').change(function() {
            checkRepeatType();
        });
        
        // Below is the name of the textfield that will be autocomplete
        $('#appointment_client_attributes_name').autocomplete({
            // This shows the min length of charcters that must be typed before the autocomplete looks for a match.
            minLength: 2,
            // This is the source of the auocomplete suggestions. In this case a list of names from the people controller, in JSON format.
            source: '<%= findByName_clients_path(:json) %>',
            // This updates the textfield when you move the updown the suggestions list, with your keyboard. In our case it will reflect the same value that you see in the suggestions which is the person.given_name.
            focus: function(event, ui) {
                // $(this).val(ui.item.name);
                return false;
            },
            // Once a value in the drop down list is selected, do the following:
            select: function(event, ui) {
                $(this).val(ui.item.name);
                $('#appointment_client_attributes_email').val(ui.item.email)
                $('#appointment_client_attributes_phone').val(ui.item.phone)
                $('#appointment_client_id').val(ui.item.id)

                $('#appointment_companies_service_id').focus();
                return false;
            }
        }).autocomplete( "instance" )._renderItem = function( ul, item ) {
            return $( "<li>" )
                .append( "<div>" + item.name + " - " + item.email + "</div>" )
                .appendTo( ul );
        };




    });
</script>