<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label(:companies_service_id) %>
    <%= f.select :companies_service_id, current_user.company.companies_services.collect {|copanies_service| [copanies_service.service_name, copanies_service.id]}, {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label(:provider_id) %>
    <%= f.select :provider_id, current_user.company.providers.collect { |provider| [provider.name, provider.id] }, {:prompt => 'Select a provider'}, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :start %><br>
    <%= f.datetime_select :start, {default: params['start'].blank? ? @appointment.start : DateTime.parse(params['start'])} %>
  </div>
  <%= f.fields_for :client, @appointment.client ||= Client.new do |client_fields| %>
    <div class="form-group">
      <%= client_fields.label :email %>
      <%= client_fields.text_field :email, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= client_fields.label :name %>
      <%= client_fields.text_field :name, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= client_fields.label :phone %>
      <%= client_fields.text_field :phone, :class => 'form-control' %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :obs %><br>
    <%= f.text_area :obs, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
    <%= link_to 'Destroy', @appointment, :class => 'btn btn-danger', :role => 'button', method: :delete, data: {confirm: 'Are you sure?'} %>
  </div>
<% end %>
