<div class = "page-header">

  <h1>
    <%= t :step2 %>
    <small>checkout</small>
  </h1>

</div>

<%= form_for(@appointment, :url => {action: 'create_appointment'}) do |f| %>
    <% if @appointment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@appointment.errors.count, "erro") %> impediram este agendamento de ser salvo:</h2>

          <ul>
            <% @appointment.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

  <%= f.hidden_field(:resource_id) %>
  <%= f.hidden_field(:companies_service_id) %>
  <%= f.hidden_field(:start) %>
  <%= f.hidden_field(:price) %>


    <% if !@appointment.resource.blank? %>
        <h4>
          <strong><%= f.label :resource_id %>:</strong>
          <%= @appointment.resource.name %>
        </h4>
    <% end %>

    <h4>
      <strong><%= f.label :companies_service_id %>:</strong>
      <%= @appointment.companies_service.service.name %>
    </h4>

    <h4>
      <strong><%= f.label :start %>:</strong>
      <%= l @appointment.start, format: :long   %>
    </h4>

    <h4>
      <strong><%= f.label :duration %>:</strong>
      <%= formatted_duration @appointment.companies_service.duration %>
    </h4>

    <% if !@appointment.price.blank? %>
        <h4>
          <strong><%= f.label :price %>:</strong>
          <%= @appointment.price %>
        </h4>
    <% end %>


    <%= f.fields_for :client, @appointment.client ||= Client.new do |client_fields| %>
      <div class="form-group">
        <%= client_fields.label :email %>
        <%= client_fields.email_field :email, :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= client_fields.label :name %>
        <%= client_fields.text_field :name, :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= client_fields.label :phone %>
        <%= client_fields.phone_field :phone, :class => 'form-control' %>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :obs %><br>
      <%= f.text_area :obs, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :remindertime %><br>
      <%= f.select :remindertime, options_for_select([
                                                     ["40 min", 40*60],
                                                     ["1h", 60*60],
                                                     ["1h20m", 80*60],
                                                     ["1h40m", 100*60],
                                                     ["2h", 2*60*60],
                                                     ["3h", 3*60*60],
                                                     ["4h", 4*60*60],
                                                     ["5h", 5*60*60],
                                                     ["6h", 6*60*60],
                                                     ["7h", 7*60*60],
                                                     ["8h", 8*60*60],
                                                     ["9h", 9*60*60],
                                                     ["10h", 10*60*60],
                                                     ["11h", 11*60*60],
                                                     ["12h", 12*60*60],
                                                     ["14h", 14*60*60],
                                                     ["18h", 18*60*60]

                                                 ], @appointment.remindertime

      ) %>
    </div>


    <div class="actions">
      <%= link_to t(:back), appointments_path + '/' + @appointment.companies_service.id.to_s + '/schedule/', class: 'btn btn-primary' %>
      <%= f.submit t(:schedule), :class => 'btn btn-success' %>
    </div>
<% end %>