<p id="notice"><%= notice %></p>

<h1><%=t :appointments %></h1>


<div id='calendar'></div>


<script type="text/javascript">
    $(document).ready(function() {
        $('#calendar').fullCalendar({
            lang: '<%= locale %>',
            events: '<%= Rails.application.routes.url_helpers.appointments_path %>',
            eventClick: function(event) {
                window.open('<%= Rails.application.routes.url_helpers.appointments_path %>/'+event.id+'/edit');
                return false;
            }
        });
    });
</script>