<div class="page-header">
  <h1><%= Appointment.model_name.human %> | <%= link_to 'Novo agendamento', new_appointment_path, class: 'btn btn-primary btn-sm' %> <small></small></h1>
</div>

<div id='calendar'></div>

<script type="text/javascript">

    $(document).ready(function() {

        $('#calendar').fullCalendar({
            locale: '<%= I18n.locale %>',
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay,listWeek'
            },
            resourceAreaWidth: 120,
            editable: true,
            weekNumbers: false,
            slotDuration: '00:30:00',
            resourceLabelText: 'Resources',
            resources: '/resources',
            nowIndicator: true,
            now: new Date(),
            events: '<%= @appointments %>',

            eventClick: function(event) {
                window.location.href = '<%= Rails.application.routes.url_helpers.appointments_path %>/'+event.id+'/edit';
                return false;
            },
            dayClick: function(date, jsEvent, view) {
                window.location.href = '<%= Rails.application.routes.url_helpers.new_appointment_path %>?start='+date.format();
                return false;
            }
        });
    });
</script>