
  <h3><%= t :step1 %></h3>
  <h4><%= CompaniesService.model_name.human + ': ' + @company_service.service.name %></h4>

  <div class="row">
    <div class="col-sm-4 col-xs-12">

      <%= form_for :appointment, method: :get, :url => {action: 'checkout'}, :html => { :id => "datetime" } do |f| %>
          <%= f.hidden_field(:companies_service_id, :value => @company_service.id) %>
          <%= f.label(:resource_id) %>
          <%= f.select :resource_id, options_from_collection_for_select(@resources, 'id', 'name'), {:prompt => t(:select)} %>
          <%= f.hidden_field(:start, :value => nil) %>
      <% end %>
      </br>
      <div id="datepicker"></div>
    </div>
    <div class="col-sm-8 col-xs-12">
    <span id="hours"></span>
    </div>
  </div>

  <div class="actions">
    <%= link_to t(:back), root_url(subdomain: @company_service.company.minipage_url), class: 'btn btn-primary' %>
    <button id="submit" type="button" class="btn btn-success" ><%= t :next %></button>
  </div>

<script>

    $(document).ready(function() {

        $("#datepicker").datepicker({
            todayHighlight: true,
            language: '<%= I18n.locale %>',
//            daysOfWeekDisabled: [0,6],
            startDate: new Date(),
            todayBtn: true
        }).on('changeDate', function(e) {
            if($("#appointment_resource_id").val().length !== 0)
                carregarHorarios(e.date, $("#appointment_resource_id").val())
        });
        // Seta a data default pro dia atual
        $("#datepicker").datepicker('update', new Date());
        // Carrega os horarios do dia atual quando abre a tela
//        carregarHorarios($('#datepicker').datepicker('getDate'));
        // Atualiza os horarios quando alterado o resource
        $( "#appointment_resource_id" ).change(function() {
            $("#appointment_start").val(null)
            carregarHorarios($('#datepicker').datepicker('getDate'), $(this).val())
        });

        /**
         * Faz a requisicao ajax para pegar os horarios de uma data e/ou resource e joga na tela.
         * @param date
         * @param resource_id
         */
        function carregarHorarios(date, resource_id) {
            $.ajax({
                url: '<%= Rails.application.routes.url_helpers.appointments_path + '/hours' %>',
                method: "POST",
                data: {
                    date : date,
                    resource_id : resource_id,
                    companies_service_id : <%= @company_service.id %>
                }
            }).done(function(html) {
                $("#hours").html(html);
            });
        }

        $( '#submit' ).on('click', function() {
            if($('#appointment_resource_id').val().length === 0) {
                alert('<%= t :select_resource %>')
                return;
            }
            if($('#appointment_start').val().length === 0) {
                alert('<%= t :select_date_hour %>')
                return;
            }

            $('#datetime').submit();
        });

    });

</script>